* {
    margin: 0px;
    padding: 0px;

}

.nav-container {
    display: flex;
    background-color: gray;
    padding: 10px;
    justify-content: space-around;
    align-items: center;

}

.menu {
    list-style: none;
    display: flex;
    gap: 15px;


}

.menu-items:hover {
    color: white;
    cursor: pointer;
}

.banner-contain {
    height: 100vh;
    background-image: url("./Assets/image/background.jpg"), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}